@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.menu {
  font-weight: $global-weight-bold;
}
// $bg-color-container: darken($orange, 10%);

/* .grid-container {
  background-color: $bg-color-container;
} */

/* .grid-x {
  background-color: $bg-color-grid-x;
} */
